{% hasrights { ident: "PAYWITHGOOGLEPAY" } %}
    {% set sToken = oViewConf.getSessionChallengeToken() %}
    {% set sSelfLink = oViewConf.getSslSelfLink()|replace({'&amp;': '&'})|raw %}
    {% set oPPconfig = oViewConf.getPayPalCheckoutConfig() %}
    {% set oConfig = oViewConf.getConfig() %}
    {% set buttonId = oView.getPayment().getId() %}
    <div class="google-pay-loading-container">
        <img src="{{ oViewConf.getModuleUrl('osc_paypal') }}img/loading.svg" width="24" height="24" alt="loading animation"/>
    </div>
    <div id="{{paymentId}}"
         class="paypal-button-container paypal-button-wrapper large"
         data-button-id="{{ buttonId }}"
         data-token="{{ sToken }}"
         data-self-link="{{ sSelfLink }}"
         data-use-google-pay-address="{{ oViewConf.usePayPalUseGooglePayAddress() }}"
         data-is-sandbox="{{ oPPconfig.isSandbox() }}"
         data-merchant-name="{{ oxcmp_shop.oxshops__oxname.value|json_encode }}"
         data-total-price="{{ oxcmp_basket.getPrice().getBruttoPrice() }}"
         data-currency="{{ oView.getActCurrency().name }}"
         data-delivery-address-md5="{{ oView.getDeliveryAddressMD5() }}"
         data-language="{{ oView.getActiveLangAbbr()|lower }}"
         data-loading-container-class-name="google-pay-loading-container"
    ></div>
    <script>
        window.googlePayReady = new Promise(resolve => {
            window.onGooglePayLoaded = resolve;
        });
    </script>
    <script async src="https://pay.google.com/gp/p/js/pay.js" onload="window.onGooglePayLoaded()"></script>
{% endhasrights %}